apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "my-microservices.fullname" . }}
  labels:
    {{- include "my-microservices.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "my-microservices.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "my-microservices.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "my-microservices.serviceAccountName" . }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
            requests:
              cpu: 300m
              memory: 256Mi
          volumeMounts:
            - name: wordpress-storage
              mountPath: /var/www/html
      volumes:
        - name: wordpress-storage
          persistentVolumeClaim:
            claimName: {{ include "my-microservices.fullname" . }}-pvc
