apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: my-microservice-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
```

Then also create:
```
helm/my-microservices/templates/serviceaccount.yaml
