apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  labels:
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: default
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: my-microservice
    app.kubernetes.io/instance: my-microservice
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
